<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.socialbike.phuketsocialbike" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.NoActionBar" >

        <!-- android:theme="@style/AppTheme" -->

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegistrationActivity"
            android:label="@string/title_activity_registration" >
        </activity>
        <activity
            android:name=".Biker_BoardActivity"
            android:label="@string/title_activity_biker_board" >
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity android:name="com.facebook.LoginActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".MapsActivity" >
        </activity>
        <activity
            android:name=".Trip_IntroduceActivity"
            android:label="@string/title_activity_trip__introduce" >
        </activity>
        <activity
            android:name=".MapsActivitycreat"
            android:label="@string/title_activity_maps_activitycreat" >
        </activity>
        <activity
            android:name=".CreateTripActivity"
            android:label="@string/title_activity_create_trip" >
        </activity>
        <activity
            android:name=".WeatherActivity"
            android:label="@string/title_activity_weather" >
        </activity>
        <activity
            android:name=".CallActivity"
            android:label="@string/title_activity_call" >
        </activity>
        <activity
            android:name=".EmergencyActivity"
            android:label="@string/title_activity_emergency" >
        </activity>
    </application>

</manifest>
